@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    background: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0 0 50px;
}

h2 {
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}


.chat-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
    overflow: hidden;
    padding: 15px;
    position: relative;
    width: 320px;
    height: 800px;
}

/* Messages Display */
.messages-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.5);
    position: relative;
    margin-bottom: 30px;
}

.user-message {
    padding: 15px 20px 15px 70px;
}

.bot-message {
    align-self: flex-end;
    padding: 15px 70px 15px 20px;
}

.logo {
    border-radius: 50%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: -10px;
    width: 50px;
    height: 50px;
}


/* Input Section */
.input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}

input {
    flex: 1;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #007aff; /* Send button color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3; /* Darker hover color */
    }